<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pusilkom.demo.model.mapper.UsersMapper">
  <resultMap id="UserItemResultMap" type="com.pusilkom.demo.dto.table.UsersItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="institusi_id" jdbcType="BIGINT" property="institusiId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="role" jdbcType="VARCHAR" property="role" />
  </resultMap>

  <sql id="Main_Query">
    SELECT * FROM users
  </sql>

  <sql id="Criteria_Where_Clause">
    <where>
      <if test="searchForm.username != ''">
        AND upper(username) LIKE '%' || upper(#{searchForm.username}) || '%'
      </if>
      <if test="searchForm.role != ''">
        AND upper(role) LIKE '%' || upper(#{searchForm.role}) || '%'
      </if>
    </where>

    ${searchForm.orderQuery}
  </sql>

  <select id="getListUserItemBySearchForm" resultMap="UserItemResultMap" parameterType="map">

    <include refid="Main_Query"/>
    <include refid="Criteria_Where_Clause"/>

    LIMIT #{searchForm.criterias.length} OFFSET #{searchForm.criterias.start}
  </select>

  <select id="getTotalUserItemBySearchForm" resultType="java.lang.Long" parameterType="map">
    SELECT COUNT(*) FROM
    (
    <include refid="Main_Query"/>
    <include refid="Criteria_Where_Clause"/>
    ) as foo
  </select>

  <select id="getUsersItemByUsername" resultMap="UserItemResultMap">
    SELECT * FROM users WHERE username = #{username}
  </select>
</mapper>